<h1>Articles Listing page</h1>


<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>
